.calibri{
    font-family: Calibri !important;
}
.content{
    width: 100%;
    float: left;
}
.eventcreator{
    border-right: 1px solid gray;
    padding: 0px !important;
}
.titluimagine{
    width: 70px;
}
.titluid{
    width: 70px;
}
.deleteevent{
    cursor: pointer;
    color:red;
    float:right;
    margin-right: 15px;
}