html,body{
    background-color: #edecec !important;
}

.calibri{
    font-family: Calibri !important;
}
.content{
    width: 100%;
    float: left;
}
.eventcreator{
    border-right: 1px solid gray;
    padding: 0px !important;
}
.titluimagine{
    width: 70px;
}
.titluid{
    width: 70px;
}
.deleteevent{
    cursor: pointer;
    color:red;
    float:right;
    margin-right: 15px;
}
.slideimages{
    margin-top: 10px;
}
/*Acasa css*/
.homepage{
    width: 100%;
    float:left;
}
.homepage h1{
    color:white;
    margin:0px;
    font-size:40px;
}
.homepage h3{
    color:white;
    margin:0px;
    font-size:25px;
}
.homepage .col-lg-3{
    margin-bottom: 15px;
    margin-top: 10px;
}
.homepage a:hover{
    text-decoration: none;
}
.imagehome{
    max-width: 100px;
    margin:0 auto;
    padding-top: 10px;
    margin-bottom: 10px;
}
.patrat{
    height: 200px;
    box-shadow: 3px 3px 15px #adacac;
}
.evenimentehome{
    background-color: #ff4a43;
}
.evenimentehome:hover{
    background-color: #e44040;
}
.slideshowhome{
    background-color: #22beef;
}
.slideshowhome:hover{
    background-color: #1cb8e8;
}
.administratiahome{
    background-color: #607D8B;
}
.administratiahome:hover{
    background-color: #547180;
}
.elevihome{
    background-color: #27d411;
}
.elevihome:hover{
    background-color: #25cc10;
}
.corpdidactichome{
    background-color: #4885b7;
}
.corpdidactichome:hover{
    background-color: #4179a7;
}
.regulamentehome{
    background-color: #ff000c;
}
.regulamentehome:hover{
    background-color: #dc050f;
}

.parteneriatihome{
    background-color: #264858;
}
.parteneriatihome:hover{
    background-color: #234250;
}
.logonamehome{
    background-color: #47866e;
}
.logonamehome:hover{
    background-color: #447966;
}
.adminhome{
    background-color: #f7a010;;
}
.adminhome:hover{
    background-color: #e09210;
}

.fisierenefolositehome{
    background-color: #ff5722;
}
.fisierenefolositehome:hover{
    background-color: #f1450f;
}