body{
	background-image: URL(images/font1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding: 20px;
}
.clearboth{
    float: left;
    width: 100%;
}
.main{
    background-color: #f2f2f2;
}
.whiteclass{
    background-color: #f2f2f2;
    margin-top:15px !important;
}
.container{
	padding: 0;
}
.header{
	height: 120px;
	padding: 0;	
}
.logo img{
	width: 70px;
	height: 70px;
	float: left;
	margin: 5px;
}
.logo{
	padding: 0;
	width: 100%;
	height: 80px;
	float: left;
        background-color: #5bc0de;
}
.name-site{
	height: auto;
	color: #fff;
	font-size: 240%;
        letter-spacing: 5px;    
	font-weight: 700;
	text-align: center;
	background-color: transparent;
        padding: 10px;
}
.navbar, .navbar-inverse{
	border: none;
	border-radius: 0px!important;
}
.content{
	height: auto;
	padding: 0;
}

.footer{
	height: 150px;
	background-color: #333;
	color: white;
	text-align: center;
	padding-top: 5%;
}

.right-menu{
    padding: 0;
    background-color: #5bc0de;
    margin-top: 0;
}
.right-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.right-menu li a {
    display: block;
    color: white;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 14px;
}

.right-menu li a:hover {
    background-color: #555;
    color: white;
}
.right-menu h3{
	padding-left: 10px;
        background-color: #5bc0de;
}
.posts{
	margin: 0;
	padding: 0;
}
.navbar-header .actives{
	border-bottom: 2px solid #ff6600;
        padding-left: 3px;
        padding-right: 3px;
}

.navbar-nav li a:hover{
	border-bottom: 2px solid #ff6600;
}
.navbar-nav li a:active{
	border-bottom: 2px solid #ff6600;
}
.navbar-nav li a:visited{
	border-bottom: 2px solid #ff6600;
}
.navbar-inverse .navbar-nav>li>a{padding-left: 8px; padding-right: 5px; font-size: 14px;} 
.navbar-nav li a{
	border-bottom: 2px solid transparent;
}
/*Postarile*/

.main-post p{
    text-align: justify;
    font-size: 12px;
}
.main-post .roteste{
    margin-top: 30px;
    transition: transform 1s;
}
.cias{
    width: 25px;
    margin-top: -5px;
}
.main-post h3{
    width: 100%;
    color: red;
    font-size: 18px;
    transition: font-family 2s;
}
.main-post span{
    float: right;
    font-size: 14px;
    margin-right: 15px;
}
.main-posts{
    height: auto;
    padding: 0;
}
.main-post{
    width: 100%;
    height: auto;
    float:left;
    padding-bottom: 15px;
    transition: background-color 1s;
}
.main-post:hover{
    background-color:#b3e6ff;
}
.main-post:hover .roteste{
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari */
    transform: rotate(10deg); /* Standard syntax */
}
.main-post button:hover{
    background-color: #0099cc;
}
.main-post button{
    float: left;
    padding: 3px;
}
/*info post*/
.info-post{
    padding: 0;
    margin: 0;
}
.info-post span{
    float: right;
    font-size: 18px;
    margin-right: 15px;
}
.info-post h2{
    color: #333;
}
.info-post p{
     text-align: justify;
     text-indent: 25px;
}

.paragraf p::first-letter{
    text-transform: uppercase;
}
.info-post .galerie{
    padding: 15px;
    margin: 0;
}
.info-post .galerie .col-md-6{
    padding:7px;
}
/*Meserii*/
.meserii h3{
    color: #80b3ff;
    border-bottom: 1px dotted gray;
}
.meserii{
    
}
/*Postari meniu main*/
.main-posts h2{
    color: #333;
    margin-right: 0px;
}
.main-posts h2 a:hover{
    text-decoration: none;
}
.main-posts h4{
    color: #80b3ff;
    margin-left: 15px;
    margin-right: 35px;
}
.main-posts ul{
    margin-left: 30px;
}
.main-posts{
    padding-bottom: 15px;
}
/*Slideshow*/
.mySlidesss {display:none;}

.my-nave{
    margin-left: 0px;
    margin-right: 0px;
}
.my-slide{
    margin-left: 15px;
    margin-right: 15px;
}
.my-link{
    border-top: 1px solid gray;
}
.my-link h3{
   padding-left: 10px;
}
.my-link ul{
    padding: 0px;
    margin:0px;
    font-size: 12px;
    list-style-type: none;
}
.my-link li{
    padding-left: 10px;
}
.my-link li a:hover{
    text-decoration: none;
    background-color: gray;
    color: white;
}
.my-link li:hover{
    background-color: gray;
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white!important;
}
.partnership{
    border-top: 1px solid gray;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
.partnership div{
    width: 20%;
    height: 110px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}
.partnership img{
    width: 100%;
    height: auto;
}
.content-part {
    background-color:green;
    margin: 10px;
    color:white;
    text-align:center;
}
/*Orar dreapta*/
.orar{display: none;}
.orar li a{
    background-color: #b3d9ff;
    padding: 3px;
    padding-left: 40px;
    font-weight: 500;
}
.orar li a:hover{
    background-color: #555;
    color: white;
    
}
/*Elevi absolventi*/
.table-responsive th{
    width: 22%;
}
.table-responsive th:first-child{
    width: 10%;
}
.tabel-elevi{
    padding-top: 5px;
}
.elevi-absolventi{
    width: 100%;
    float:left;
    margin:10px 0px 10px 0px;
}
/*Galerie activitati-extracurs*/
.activitati-extracurs img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    float: left;
    width: 20%;
    
}
.activitati-extracurs img:hover{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    -webkit-transition: 2s; /* For Safari 3.1 to 6.0 */
    transition: 2s;
    
}
/*administratia*/
.administratia img{
    width: 75%;
    padding: 5px;
    
}
.administratia span{
    margin-left: 5px;
}
.administratia{text-align: center;}
.administratia .description{
    text-align: left;
}
.admin-info{
    border-top: 1px solid gray;
    padding-top: 10px;
}
.administratia div:first-child{
    border-top: 1px solid transparent;
}
.meserii p{
    text-align: justify;
}
/*Misiune viziune*/
.main-posts h2{
    text-align: center;
    font-weight: 600;
}
.citat-misiune{
    text-align: right;
    font-style: italic;
    font-size: 18px;
}
.descriere-misiune{text-align: justify; color: black;  padding: 30px; font-size: 14px;  }
.descriere-misiune p{
    text-indent: 30px;
}
.misiune{
    /*background-color: white;*/
    padding: 30px;
}
/*Plan*/
.titlu-plan h3{
    text-align: center;
}
.titlu-plan h2{
    font-size: 40px;
    padding-top: 10px;
}